body {
    background-color: black;

}

.num {
    font-size: 500px;
    font-weight: 1200;
    background-image: url("https://external-preview.redd.it/one-meme-for-every-cfb-team-2025-season-preview-v0-slcSuh_lGoeNUNVjHLvXpfad6p2fTE263MaAfGAPivM.jpeg?width=640&crop=smart&auto=webp&s=9300bb5762f65b32843b0ba4cd2f63e214fbe291");
    color: transparent;
    background-clip: inherit;
    -webkit-background-clip: text;
    animation-name: marquee-animation;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: inline-block;
    padding-left: 100%;
}

@keyframes marquee-animation {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translateX(-100%);
    }
}